@model IEnumerable<CASNApp.Core.Entities.FundingOffer>

@{
    ViewData["Title"] = "Funding Offers";
}

<h1>Funding Offers for Caller @ViewBag.CallerIdentifier</h1>

<p>
    <a asp-action="CallerCreateOffer" asp-route-id="@ViewBag.CallerId" class="btn btn-primary">Create New</a>
    <a asp-action="Index">Back to Funding Offers</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Clinic
            </th>
            <th>
                Created By
            </th>
            <th>
                Is Active
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FundingOfferStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @($"{item.Created:MM/dd/yyyy}")
            </td>
            <td>
                @($"{item.Updated:MM/dd/yyyy}")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="custom-nav-link">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
