@model CASNApp.Core.Entities.FundingOffer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Funding Offer</h4>

    <div>
        @if (Model.AllowsEdits)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="custom-nav-link">Edit Funding Offer</a>
        }
        <a asp-action="ChangeStatus" asp-route-id="@Model.Id" class="custom-nav-link">Change Status</a>
        <a asp-action="CallerOffers" asp-route-id="@Model.CallerId">Back to List</a>
        @if (!Model.AllowsEdits)
        {
            <a asp-action="Voucher" asp-route-id="@Model.Id" class="btn btn-info float-right" target="_blank">Print Voucher</a>
        }
    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Is Active
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            Created
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            Issued
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt class="col-sm-2">
            Redeemed
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Redeemed)
        </dd>
        <dt class="col-sm-2">
            Paid
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class="col-sm-2">
            Updated
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class="col-sm-2">
            Caller
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caller.CallerIdentifier)
        </dd>
        <dt class="col-sm-2">
            Clinic
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>
        <dt class="col-sm-2">
            Appointment Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentType.Title)
        </dd>
        <dt class="col-sm-2">
            Appointment Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            Created By
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Name)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundingOfferStatus.Name)
        </dd>
        <dt class="col-sm-2">
            Note
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
    <div class="row">
        <!-- BEGIN -->
        @if (Model.AllowsEdits)
        {
            <p>
                <a asp-action="CreateItem" asp-route-id="@Model.Id" class="btn btn-primary">Add Funding</a>
            </p>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Funding Type
                    </th>
                    <th>
                        Funding Source
                    </th>
                    <th>
                        Need Amount
                    </th>
                    @*<th>
                            Need Amound Null Reason
                        </th>*@
                    <th>
                        Funding Amount
                    </th>
                    @*<th>
                            Funding Amount Null Reason
                        </th>*@
                    <th>
                        Payment Method
                    </th>
                    <th>
                        Is Active
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FundingOfferItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FundingType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FundingSource.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NeedAmount)
                            @*</td>
                                <td>*@
                            @Html.DisplayFor(modelItem => item.NeedAmountNullReason.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FundingAmount)
                            @*</td>
                                <td>*@
                            @Html.DisplayFor(modelItem => item.FundingAmountNullReason.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @if (Model.AllowsEdits)
                            {
                                <a asp-action="EditItem" asp-route-id="@item.Id">Edit</a>
                            }

                            <a asp-action="ItemDetails" asp-route-id="@item.Id">Details</a>

                            @if (Model.AllowsEdits)
                            {
                                <a asp-action="DeleteItem" asp-route-id="@item.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- END -->
    </div>
</div>