@model IEnumerable<CASNApp.Core.Entities.FundingOffer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundingOfferStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Issued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Redeemed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Caller.CallerIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundingOfferStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Issued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Redeemed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
