@model MessageErrorLogDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MessageErrorLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FromPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrorDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
